.field {
    -fx-pref-width: 450px;
    -fx-pref-height: 40px;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.label-field {
    -fx-font-weight: 600;
}

.label-field-blue {
    -fx-text-fill: #2689d0;
}

.label-form {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}
