@import url("fonts.css");

.button {
    -fx-pref-height: 40px;
    -fx-background-position: left 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px 30px;
}

.button-blue {
    -fx-text-fill: white;
    -fx-background-color: #2689D0;
    -fx-background-image: url("../images/colorBlindSymbols/blue.png");
}

.button-green {
    -fx-background-color: #11C543;
    -fx-background-image: url("../images/colorBlindSymbols/blue.png");
}

.label-welcome {
    -fx-text-fill: #999999;
    -fx-font-size: 46px;
}


.field {
    -fx-pref-width: 450px;
    -fx-pref-height: 40px;
}


.label-field {
    -fx-font-weight: 600;
}

.label-field-blue {
    -fx-text-fill: #2689d0;
}

.button-blue-menu {
    -fx-pref-width: 136px;
    -fx-background-color: #2689D0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}