/*Definição de campos de texto e label que os acompanham*/

.field { //Altura de 40px, largura variável
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
}

.field.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.field-label-form {
    -fx-pref-height:80px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.field.label.blue {
    -fx-text-fill: #2689d0;
}

.label.warning {
    -fx-font-size: 8px;
    -fx-color: #ff4f68;
}

.message {
    -fx-font-weight: bold;
}

.message-normal {
    -fx-font-size: 29px;
    -fx-text-fill: black;
}

.message.warning {
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

.label-form {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}


