@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
     font-family: Montserrat;
     font-weight: 600;
     src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
 }


* {
    -fx-font-family: Montserrat;
}