.button-menu {
    -fx-pref-width: 145px;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: -5px;
}

.button-selected {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.button-selected:hover {
    -fx-background-color: white;
    -fx-text-fill: #2689D0;
    -fx-pref-height: 42px;
    -fx-border-color: #2689D0;
    -fx-border-radius: 3px;
    -fx-border-width: 1px 1px 3px 1px;
    -fx-scale-y: 1.2;
}




.button-menu-button {
    -fx-background-color: #2689D0;
    -fx-text-fill: ffffff;
    -fx-pref-height: 40px;
}

.button-blue-menu {
    -fx-background-color: #2689D0;
    -fx-text-fill: ffffff;
    -fx-pref-height: 40px;
}